body{
    background-color: #f5d9df;
    font-family:"Nunito", sans-serif;
}
 .blurb h2{
    color:#f498b8;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color:#ea1c2c;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content{
    margin-top: 100px;
}


#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
   
}
#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}

#mainNavbar .navbar-brand{
    color:#ea1c2c;
}
#headingGroup span{
    color:#ea1c2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}


@media(max-width:1300px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 2rem;
    }

}

